
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@font-face {
  font-family: 'Gill Sans MT';
  src: local('Gill Sans MT'), url(/assets/fonts/Gill Sans MT - Bold Italic.ttf) format('opentype');
}
@font-face {
  font-family: 'Gill Sans MT';
  src: local('Gill Sans MT'), url(/assets/fonts/Gill Sans MT - Regular.ttf) format('opentype');
}
@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI'), url(/assets/fonts/Segoe UI - Bold.ttf) format('opentype');
}
@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI'), url(/assets/fonts/Segoe UI - Regular.ttf) format('opentype');
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.product-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide {
  opacity: 0;
  transition: opacity 0.3s;
}

.slide.active {
  opacity: 1;
}
